/*reset*/
html, body {
  height: 100%;
}

picture {
  display: block;
}

/*base*/
html {
  -webkit-overflow-scrolling: touch;
}

/*Base*/
.foot_navi_llw {
  padding: 0;
  margin: 5.7% auto 0;
  max-width: 640px;
  width: 100%;
}
.foot_navi_llw_main {
  background-color: #F3F3F3;
}
.foot_navi_llw_sub {
  background-color: #fff;
}
.foot_navi_main {
  font-size: 22px;
  color: #51585F;
  margin: 5% auto 0;
  padding-bottom: 0.6%;
  background: #F3F3F3;
}
@media screen and (max-width: 640px) {
  .foot_navi_main {
    font-size: 3.4375vw;
  }
}
.foot_navi_main ul {
  margin: 0 auto;
  padding: 0;
}
.foot_navi_main li {
  display: block;
  float: none;
  padding: 1.1% 0 0.8% 0;
  margin: 0 6.8%;
  border-bottom: 1px solid #fff;
}
.foot_navi_main li:last-child {
  border: none;
}
.foot_navi_main li a {
  display: block;
  color: #3E3A39;
  text-decoration: none;
  line-height: 1.7;
  font-family: "Noto Sans JP", sans-serif;
  opacity: 1;
  transition: 0.3s all;
}
.foot_navi_main li a:hover {
  opacity: 0.6;
}
.foot_navi_sub {
  font-size: 22px;
  color: #51585F;
  margin: 5% auto 0%;
  padding-bottom: 0.6%;
}
@media screen and (max-width: 640px) {
  .foot_navi_sub {
    font-size: 3.4375vw;
  }
}
.foot_navi_sub ul {
  margin: 0 auto;
  padding: 0;
}
.foot_navi_sub li {
  display: block;
  float: none;
  padding: 1.1% 0 0.8% 0;
  margin: 0 6.8%;
  border-bottom: 1px solid #A7D2E7;
}
.foot_navi_sub li:last-child {
  border: none;
}
.foot_navi_sub li a {
  display: block;
  color: #3E3A39;
  text-decoration: none;
  line-height: 1.7;
  font-family: "Noto Sans JP", sans-serif;
  opacity: 1;
  transition: 0.3s all;
}
.foot_navi_sub li a:hover {
  opacity: 0.6;
}
.foot_bottom_llw {
  font-size: 19px;
  color: #6B6B6B;
  text-align: center;
  height: 44px;
  padding: 2.6% 0 3%;
  letter-spacing: 0.1rem;
  line-height: 2.6rem;
}
@media screen and (max-width: 640px) {
  .foot_bottom_llw {
    font-size: 2.96875vw;
    height: 6.875vw;
  }
}
.foot_bottom_llw p {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
}