@charset "UTF-8";

html {
    font-size: 62.5%;
    -webkit-overflow-scrolling: touch;
}

html,
body {
    height: 100%;
}

.top-body {
    font-family: 'Noto Sans Javanese', sans-serif;
    max-width: 500px;
    color: #333;
    margin: 0 auto 20px;
}

.method,
.voice,
.selected,
.director,
.recommend,
.question,
.achievement .text p,
.top-page .key p,
#header,
.problem-presentation .inner,
.solution .inner {
    background: #fff;
}

.problem-presentation span,
.problem-presentation .sec-title {
    color: rgba(0, 88, 230, 1);
}

.solution span,
.achievement span,
.method-text span,
.recommend .item span,
.accordion-003 p,
.top-page .key span {
    color: #FC5E5E;
}

.sec-title {
    font-size: 4rem;
}

.selected .sec-title,
.director .sec-title,
.recommend .sec-title,
.question .sec-title,
.voice .sec-title,
.method .sec-title {
    display: inline-block;
    background: linear-gradient(135deg, rgba(252, 94, 94, 1) 0%, rgba(255, 152, 78, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(252, 94, 94, 1) 0%, rgba(255, 152, 78, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 50px 0 20px;
}

.top-page .sec-title,
.problem-presentation .sec-title,
.solution .sec-title,
.achievement .sec-title,
.price .sec-title {
    padding: 30px 0 20px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


ul {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.container {
    background-image: url(img/background.png);
    background-size: cover;
    padding-top: 50px;
}

section {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

p {
    font-weight: bold;
}


.inner {
    padding: 5%;
}

#header {
    height: 50px;
    position: fixed;
    z-index: 100;
    max-width: 500px;
    width: 100%;
}

#header .wrapper {
    margin: 0 auto;
    display: flex;
    padding: 0 3%;
    justify-content: space-between;
}

#header .site-title {
    align-items: center;
    display: flex;
}

#header .logo-img {
    width: 40px;
    margin-right: 10px;
}

.openbtn {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.openbtn .openbtn-area {
    transition: all .4s;
}

.openbtn span {
    display: block;
    transition: all .4s;
    position: absolute;
    left: 20px;
    height: 2px;
    border-radius: 2px;
    background: #333;
    width: 45%;
}

.openbtn span:nth-of-type(1) {
    top: 15px;
}

.openbtn span:nth-of-type(2) {
    top: 23px;
}

.openbtn span:nth-of-type(3) {
    top: 31px;
}

.openbtn.active .openbtn-area {
    transform: rotateY(-360deg);
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    transform: translateY(6px) rotate(-135deg);
}

.openbtn.active span:nth-of-type(2) {
    opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
    top: 30px;
    transform: translateY(-6px) rotate(135deg);
}

.top-page {
    background-size: cover;
}

.top-page .text-area {
    padding-top: 30px;
    color: #fff;
}

.top-page .sub-text_1 {
    font-size: 1.8rem;
}

.top-page .sub-text_2 {
    font-size: 1rem;
}

.top-page .sec-title {
    padding: 15px 0;
}

.top-page .key {
    margin: 20px 0;
    color: #333;
}

.top-page .key p {
    font-size: 2rem;
    display: inline-block;
    margin: 1px;
    padding: 10px 10px 0;
}

.phones {
    display: flex;
    margin: 0 auto;
    width: calc(100%/3);
    justify-content: center;
}

.supporter {
    padding-top: 20px;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    /* text-align: center; */
}

.supporter .illust1 {
    max-width: 250px;
    position: absolute;
    top: -185px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.supporter .clients {
    display: inline-block;
    width: 90%;
    margin-bottom: 15px;
}

.btn1,
.btn2 {
    border: 3px solid #fff;
    font-size: 1.7rem;
    border-radius: 13px;
    margin: 0 10%;
    padding: 2% 5%;
    background: rgba(89, 183, 92, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    box-shadow: 0 2px 7px #0000004e;
}

.btn1 p,
.btn2 p {
    display: inline-block;
    padding-top: 10px;
}

.btn1:active,
.btn2:active {
    box-shadow: none;
    position: relative;
    top: 7px;
}

.btn1::after,
.btn2::after {
    content: '';
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    margin-left: 10%;
    border-radius: 1px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}


.btn1 img,
.btn2 img {
    width: 15%;
    margin-right: 10%;
}

.btn2 {
    margin-bottom: 20px;
}

.problem-presentation .inner {
    border-radius: 20px;
    padding-bottom: 120px;
    position: relative;
    box-shadow: 0 2px 7px #0000004e;

}

.problem-presentation {
    margin: 0 auto;
    padding: 20px 5% 30px;
    max-width: 500px;
    background: linear-gradient(90deg, rgb(253, 97, 95), rgb(255, 151, 79));


}

.problem-presentation .sec-title {
    padding: 15px 0;
}

.problem-presentation .sub-title {
    font-size: 1.6rem;
    padding-top: 30px;
}

.problem-presentation .item {
    padding: 0 5%;
    border-radius: 50px;
    margin-bottom: 10px;
    box-shadow: 0 2px 7px #0000004e;
    font-size: 1.6rem;
    padding: 20px;
}

.problem-presentation .item:nth-child(6) {
    line-height: 45px;
}

.problem-presentation .illust2 {
    position: absolute;
    width: 120px;
    right: 0;
    bottom: 0;
}

.problem-presentation .circle {
    position: absolute;
    right: 32%;
    width: 10%;
}

.solution .inner {
    max-width: 500px;
    position: relative;
    filter: drop-shadow(0 2px 2px #0000004e);

}

.solution {
    background: linear-gradient(90deg, rgb(253, 97, 95), rgb(255, 151, 79));
    padding: 20px 5% 90px;
}

.solution .inner::after {
    content: "";
    position: absolute;
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
    top: 99.9%;
    border-top: 7vh solid #fff;
    border-left: 45vw solid transparent;
    border-right: 45vw solid transparent;
}

.solution .text {
    font-size: 1.8rem;
    padding-top: 30px;
}

.solution .sub-text1 {
    padding: 30px 0 15px;
}

.solution .sub-text2 {
    padding-bottom: 20px;
}

.solution .logo-under {
    margin: 0 auto;
    width: 80%;
}

.achievement .sec-title {
    color: #fff;
}

.achievement {
    background: linear-gradient(90deg, rgb(253, 97, 95), rgb(255, 151, 79));
}

.achievement .text {
    text-align: center;
    margin: 0 auto;
}

.achievement .text p {
    font-size: 1.2rem;
    display: inline-block;
    white-space: nowrap;
    margin: 1px 0;
    line-height: 1.5;
    padding: 5px 2px 0;
}

.achievement .sub-text {
    padding-top: 20px;
    font-size: 1.2rem;
}

.achievement .circle-width {
    width: 35%;
    border: 1px solid #333;
    border-radius: 50%;
    background-color: #fff;
}

.circle-height {
    position: relative;
    padding-top: 100%;
    height: 0;
}

.circle-height p {
    padding-top: 5px;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    display: block;
}

.circle2 p {
    line-height: 0.7;
}

.circle1 span,
.circle2 span {
    display: block;
    font-size: 2rem;
    line-height: 0.5;
    padding-top: 10px;
}


.circle4 span,
.circle3 span {
    display: block;
    line-height: 0.5;
    padding-top: 10px;
    font-size: 1.5rem;
}


.swiper-item1,
.swiper-item2,
.swiper-item3,
.swiper-item4 {
    position: relative;
    width: 900px;
}


.circle-width {
    position: absolute;
    bottom: 27%;
    left: -10%;
}


.swiper-slide img {
    width: 100%;
    height: auto;
}

.swiper-slide {
    transition: transform 0.6s;
}

.swiper {
    padding-top: 60px !important;
    padding-bottom: 90px !important;
}

.achievement .swiper-pagination-bullet {
    background-color: #333;
}

.achievement .contents {
    margin-inline: auto;
    max-width: 500px;
    position: relative;
}

.swiper-pagination {
    bottom: 98% !important;
    position: absolute !important;
}

.swiper-slide-prev,
.swiper-slide-next,
.swiper-slide-duplicate-prev,
.swoper-slide-duplicate-next {
    transform: scale(0.8) !important;
}

.swiper-slide-active {
    transform: scale(1.2) !important;
}

.swiper-pagination .my-swiper-pagination {
    top: auto !important;
    bottom: auto !important;
}

.method .sub-text {
    margin-bottom: 40px;
    font-size: 1.3rem;
}

.method .method-title {
    font-size: 2.3rem;
    line-height: 1;
    border-bottom: 1px dotted black;
}


.method .title1,
.method .title3 {
    padding: 30px 0 20px;
}

.method .title2 {
    padding: 20px 0 5px;
}

.method .title4 {
    padding: 10px 0 5px;
}


.method .item {
    position: relative;
    box-shadow: 0 2px 7px #0000004e;
    padding: 0 5% 20px;
    margin-bottom: 30px;
}

.method .item:last-child {
    margin-bottom: 0;
}

.method .step {
    position: absolute;
    top: -4%;
    left: -2%;
    width: 15%;
}

.method-text {
    padding-top: 15px;
    text-align: left;
    font-size: 1.3rem;
}

.method .concept {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.method .concept1 {
    margin-right: 10px;
    width: 25%;
}

.method .concept2 {
    margin: 0 20px 30px 0;
    width: 20%;
}

.method .screenshot {
    text-align: right;
}

.method .screenshot img {
    display: inline-block;
    width: 80%;
}

.method .phone_img {

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.method .phone_img img {
    height: auto;
    width: 30%;
}

.method .phone_img img:first-child {
    padding: 0 2%;
}


.item .sub-title {
    padding: 15px 0 0;
}

.method .illust3 {
    margin-top: 20px;
    text-align: right;
}

.method .illust3 img {
    display: inline-block;
    width: 40%;
}

.voice {
    padding-bottom: 20px;
}

.voice .slick-area {
    padding: 0;
    margin: 0 8%;
}

.voice .name {
    font-size: 2rem;
    padding: 15px 0;
}

.voice .text {
    font-size: 1.38rem;
    text-align: left;
}

.slick-track {
    display: flex;
}

.slick-item {
    box-shadow: 0 2px 7px #0000004e;
    padding: 20px 5%;
    margin: 3%;
    height: 500px !important;
}


.slick-arrow {
    z-index: 2;
    width: 30px !important;
    height: 30px !important;
}

.slick-arrow:before {
    position: absolute;
    content: "" !important;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 50%;
}

.slick-prev:before {
    background: url(img/left.png);
    background-size: contain;
}

.slick-next:before {
    background: url(img/right.png);
    background-size: contain;
    left: -50%
}

.selected .heading {
    display: flex;
    align-items: end;
}

.selected p {
    font-size: 1.3rem;
}

.selected .text-right {
    display: flex;
    text-align: right;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.selected .text-right p {
    padding-left: 30px;
}

.selected .text-left {
    width: 70%;
    padding-left: 10px;
    text-align: left;
}

.selected img {
    margin: 10px;
    width: 20%;
    object-fit: cover;
}

.selected .sub-title {
    text-align: left;
    padding: 10px;
    font-size: 2.5rem;
    width: 70%;
}

.selected .right h3 {
    width: 100%;
    text-align: right;
}

.selected .left {
    border-left: 8px solid rgba(252, 95, 95, 1);
}

.selected .right {
    margin: 20px 0;
    border-right: 8px solid rgba(252, 95, 95, 1);
}

.director {
    padding: 50px 5%;
}

.director .inner {
    border-radius: 30px;
    box-shadow: 0 2px 7px #0000004e;
}

.director .item {
    margin: 20px auto;
}

.director .item img {
    display: inline-block;
    width: 200px;
    border-radius: 50%;
}

.director h3 {
    display: inline-block;
    padding: 30px 5% 0;
    font-size: 1.6rem;
    background: linear-gradient(transparent 70%, rgba(252, 95, 95, 0.5) 0%);
}

.director .item .sub-title {
    font-size: 2rem;
}

.director h4 {
    width: 120px;
    font-size: 1.2rem;
    color: #fff;
    margin: 17px 0 3px;
    padding: 5px 10px 0;
    border-radius: 3px;
    display: inline-block;
    background: rgba(0, 88, 230, 1);
}

.director .item .sub-text {
    font-size: 1.7rem;
    padding-top: 7px;
}

.price {
    padding: 0 5% 100px;
    position: relative;
    background: linear-gradient(90deg, rgb(253, 97, 95), rgb(255, 151, 79));
    margin-bottom: 30px;
}

.price .sec-title {
    color: #fff;
    position: relative;
}

.price .inner {
    padding: 20px 0;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 2px 7px #0000004e;
}

.price .type {
    color: rgba(53, 136, 71, 1);
    font-size: 2rem;
}

.price .price-tag {
    font-size: 3rem;
}

.price .p-tag2{
    font-size: 1.8rem;
    font-weight: normal;
}

.price .p-tag1{
    
    font-size: 2.4rem;
}

.price::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 0 0 300px;
    border-color: transparent transparent transparent #fff;
}

.price::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 60px 300px;
    border-color: transparent transparent #fff transparent;
}

.recommend {
    padding: 0 0 20px;
}

.recommend .item {
    font-size: 1.6rem;
    box-shadow: 0 2px 7px #0000004e;
    margin: 5% 10% 0;
    padding: 20px;
    border-radius: 40px;
}

.question {
    padding: 0 5% 70px;
}

.accordion-003 {
    max-width: 500px;
    padding-bottom: 7px;
    border-bottom: 1px solid #303031;
}

.accordion-003 summary {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

.accordion-003 summary::-webkit-details-marker {
    display: none;
}

.accordion-003 summary::after {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid black;
    transition: transform .3s;
}

.accordion-003[open] summary::after {
    transform: rotate(180deg);
}

.accordion-003 p {
    text-align: left;
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: 10px 15px 10px;
    transition: transform 0.5s, opacity 0.5s;

}

.accordion-003[open] p {
    font-size: 1.5rem;
    transform: none;
    opacity: 1;
}

.index-foot {
    text-align: center;
    padding: 0 5%;
    font-size: 1.3rem;
}

.index-foot a {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 10px;
    padding-top: 5px;
    line-height: 2;
}

/*___________ 下層ページ ____________*/



picture {
    display: block;
}


/*Base*/
.llw {
    max-width: 650px;
    width: 100%;
    background: #fcf1f1;
    margin: 0 auto;
    overflow: hidden;
}


.llw input::-webkit-search-decoration {
    display: none;
}

.llw input:focus {
    outline-offset: -2px;
}


.llw img {
    vertical-align: bottom;
    width: 100%;
    height: auto;
}

.table_wrap {
    padding: 0 5% 2.7%;
    font-family: "Noto Sans JP", sans-serif;
    margin-top: 0;
}

.table_wrap_sctl h1 {
    color: #e56938;
    font-size: 52px;
    text-align: center;
    margin: 0;
    font-weight: 400;
    padding: 9.5% 0 8%;
    line-height: 5rem;
    letter-spacing: 0.08em;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}



.table_contents {
    border: solid 1px #f2f2f2;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    position: relative;
}

.table_contents th {
    width: 30%;
    padding: 17px 11px 20px;
    box-sizing: border-box;
    border: solid 1px #facab6;
    background-color: #ef9e7e;
    text-align: center;
    font-size: 21px;
    line-height: 1.23;
    color: #fff;
}

.table_contents td {
    width: 67%;
    padding: 11px 26px;
    box-sizing: border-box;
    border: solid 1px #facab6;
    color: #3E3A39;
    font-size: 22px;
    line-height: 1.7;
    vertical-align: inherit;
    text-align: justify!important;
}

.tel,
.mail {
    color: #333;
    font-weight: normal;
    white-space: nowrap;
}

.tel_red {
    color: red;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.2 !important;
    padding: 10px 0 30px;
}


.p_plan{
    display: block;
    font-weight: normal;
    text-align: justify;
    letter-spacing: 12px;
}


.table_contents .p_price {
    font-size: 15px;
    line-height: 1.5rem;
    margin: 2% 0 4%;
    font-weight: normal;
}


.table_contents .blank {
    padding-left: 1em;

}

.table_contents .left {
    text-align: left;
    padding-left: 4%;
}

.privacy_wrap {
    margin: 0 auto 0;
    padding: 0 5.4% 0 5.1%;
    top: 0;
    color: #3E3A39;
    font-family: "Noto Sans JP", sans-serif;
}


.privacy_wrap .top {
    text-align: justify;
    font-size: 22px;
    font-weight: 300;
}


.privacy_wrap p {
    font-size: 21px;
    line-height: 3.5rem;
    margin: 4% 0;
    font-weight: 300;
}


.privacy_wrap h1 {
    color: #e56938;
    font-size: 49px;
    text-align: center;
    margin: 0;
    padding: 12% 0 3.2%;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: 600;
}


.privacy_wrap h2 {
    font-size: 23px;
    text-align: left;
    margin: 0 0 -1.6% 0;
    padding: 2% 0 2.2%;
    border-bottom: solid 1px #facab6;
    font-weight: 400;
}

.foot_navi_llw {
    padding: 0;
    margin: 5.7% auto 0;
    max-width: 640px;
    width: 100%;
}

.foot_navi_llw_main {
    background-color: #F3F3F3;
}

.foot_navi_llw_sub {
    background-color: #fff;
}

.foot_navi_main {
    font-size: 22px;
    color: #51585F;
    margin: 5% auto 0;
    padding-bottom: 0.6%;
    background: #F3F3F3;
}

.foot_navi_main ul {
    margin: 0 auto;
    padding: 0;
}

.foot_navi_main li {
    display: block;
    float: none;
    padding: 1.1% 0 0.8% 0;
    margin: 0 6.8%;
    border-bottom: 1px solid #fff;
}

.foot_navi_main li:last-child {
    border: none;
}

.foot_navi_main li a {
    display: block;
    color: #3E3A39;
    text-decoration: none;
    line-height: 1.7;
    font-family: "Noto Sans JP", sans-serif;
    opacity: 1;
    transition: 0.3s all;
}

.foot_navi_main li a:hover {
    opacity: 0.6;
}

.foot_navi_sub {
    font-size: 22px;
    color: #51585F;
    margin: 5% auto 0%;
    padding-bottom: 0.6%;
}

.foot_navi_sub ul {
    margin: 0 auto;
    padding: 0;
}

.foot_navi_sub li {
    display: block;
    float: none;
    padding: 1.1% 0 0.8% 0;
    margin: 0 6.8%;
    border-bottom: 1px solid #facab6;
}

.foot_navi_sub li:last-child {
    border: none;
}

.foot_navi_sub li a {
    font-weight: normal;
    display: block;
    color: #3E3A39;
    text-decoration: none;
    line-height: 1.7;
    font-family: "Noto Sans JP", sans-serif;
    opacity: 1;
    transition: 0.3s all;
}

.foot_navi_sub li a:hover {
    opacity: 0.6;
}

.foot_bottom_llw {
    margin-bottom: 20px;
    font-size: 19px;
    color: #6B6B6B;
    text-align: center;
    height: 44px;
    padding: 2.6% 0 3%;
    letter-spacing: 0.1rem;
    line-height: 2.6rem;
}

.foot_bottom_llw p {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
}


@media screen and (max-width: 640px) {
    .table_wrap_sctl h1 {
        font-size: 8.125vw;
    }

    .sp {
        display: block;
    }

    .table_contents th {
        padding: 1.40625vw 1.71875vw 2.1875vw;
        font-size: 3.2vw;
    }

    .table_contents td {
        padding: 1.71875vw 4.0625vw;
        font-size: 3.4375vw;
    }

    
    .p_plan{
        font-size: 3vw;
        line-height: 2rem;
        font-weight: normal;
        letter-spacing: 0;
    }

    .table_contents .p_price {
        font-size: 2.34375vw;
        line-height: 1.1rem;
    }

    .privacy_wrap p {
        font-size: 3.2vw;
        line-height: 3rem;
    }

    .privacy_wrap {
        font-size: 4vw;
    }

    .privacy_wrap .top {
        font-size: 3vw;
        line-height: 3rem;
    }

    .privacy_wrap h1 {
        font-size: 7vw;
    }

    .privacy_wrap h2 {
        font-size: 3.59375vw;
    }

    .foot_navi_main {
        font-size: 3.4375vw;
    }

    .foot_navi_sub {
        font-size: 3.4375vw;
    }

    .foot_bottom_llw {
        font-size: 2.96875vw;
        height: 6.875vw;
    }
}

@media(max-width:475px) {

    .sec-title {
        font-size: 8vw;
    }

    .problem-presentation .item {
        font-size: 1.8rem;
    }

    .recommend .item {
        font-size: 1.7rem;
    }

    .slick-item {
        height: 500px !important;
    }

    .achievement .text p {
        font-size: 2.6vw;
    }


    .method .method-title {
        font-size: 2rem;
    }

    .circle-height p {
        font-size: 2vw;
    }

    .circle4 p {
        font-size: 1.8vw;
    }

    .circle1 span,
    .circle2 span {
        font-size: 4vw;
        line-height: 0.8;
        padding-top: 10px;
    }


    .circle4 span,
    .circle3 span {
        line-height: 0.5;
        padding-top: -5px;
        font-size: 3vw;
    }

    .problem-presentation .item,
    .recommend .item {
        font-size: 4vw;
    }

    .swiper {
        padding-top: 40px !important;
        padding-bottom: 70px !important;
    }
}

@media(min-width: 500px) {
    .solution .inner::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
        border-top: 50px solid #fff;
        border-left: 225px solid transparent;
        border-right: 225px solid transparent;
    }

}

@media(max-width: 375px) {

    .btn1,
    .btn2 {
        font-size: 1.2rem;
    }


    .solution .text {
        font-size: 4.5vw;
    }

    .director h3 {
        font-size: 4vw;
        padding: 15px 5% 0;
    }

    .director .item .sub-title {
        font-size: 5vw;
    }

    .director .item .sub-text {
        font-size: 4.5vw;

    }

    .circle-width {
        position: absolute;
        bottom: 35%;
        left: -10%;
    }


}

@media(max-width:350px) {
    .solution {
        padding-bottom: 50px;
    }

}
